/*-- scss:defaults --*/

$utilitr-color: #93bcbc;

/*
// The left hand sidebar
$grid-sidebar-width: 200px !default;

// The main body
$grid-body-width: 900px !default;

// The right hand margin bar
$grid-margin-width: 200px !default;

// The gutter that appears between the above columns
$grid-column-gutter-width: 1.0rem !default;

*/

/*-- scss:rules --*/

/* from https://github.com/InseeFrLab/utilitR/blob/082a38f6073b5513a5fa89fc4249ddc7bad477fd/css/style-utilitr.css */

/*
body{
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: left;
  line-height: 1.6;
}
*/

a {
  color: #239f9f;
}
.sidebar-item-section .sidebar-item-text.sidebar-link.text-start {
  font-weight: bold;
  color: #6ba0a0 ;
}

.caption {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-align-last: center;
  font-weight: 900;
}
/* Mise en forme des images inline */
img[src*="inline"] {
   display: inline ;
   vertical-align: middle;
   padding: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }



.center {
  text-align: center;
}

.btn {
    border-width: 0 0px 0px 0px;
    font-weight: normal;
}

.btn-default {
    color: #2ecc71;
    background-color: #ffffff;
    border-color: #ffffff;
}


#hero-banner {
    padding-top: 35px;
    /*background-color: $utilitr-color;
    color: white;*/
}

#hero-banner code {
   color:#e83e8c;
   background-color: transparent !important;
}


.grid-item-link {
    color: inherit;
    text-decoration: none; /* Remove underline */
    transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
}

.grid-item-link:hover {
    transform: scale(1.05); /* Increase the scale for a zoom effect */
}

// Smaller list environments
.small {
  font-size: 0.75em;  /* ~12pt if base is 16pt -> results in 3/4 of the total font size */
}


// Slide iframes
.slides {
  width: 80%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin: 0 auto;
}
